body{
	background-color: #000033;
}

.fa-snowflake{
	width: 10px;
	height: 10px;
	color: white;
	position: absolute;
	top: -15px; 
	/* animation: fall 10s linear; */
}

@keyframes fall{
	from{}
	to{
		transform: translateY(100vh);
		opacity: 0;
	}
}